@font-face 
{
  font-family: "Pirulen";
  src: url('../fonts/pirulen.eot');
  src: url('../fonts/pirulen.eot') format('embedded-opentype'), url('../fonts/pirulen.woff') format('woff'), url('../fonts/pirulen.ttf') format('truetype'), url('../fonts/pirulen.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.centered 
{
    text-align: center;
}

.cover
{
    padding-top: 100px;
    padding-bottom: 50px;
    background: #3c8dbc;
}

.user-name
{
    z-index: 5;
    color: #f9f9f9;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    text-shadow: 2px 2px 3px #333333;
    margin-top: 10px;
}

.modal {
    overflow-y: hidden;
}

.searchbox {
    width: 30%;
    margin: 8px auto;
}

.navbar-right {
    display: inline-block;
    margin-top: -50px;
}

#search_results{
    background-color: white;
    width: 30%;
    margin: 8px auto;
    position: absolute;
    border: 1px solid #3c8dbc;
}

.search_result {
    display: block;
    color: black;
}

.search_result .img-circle {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.search_result:hover {
    background-color: #f4f4f4;
    color: black;
}

.search_result span {
    font-weight: bold;
}