#avatar
{
    margin-top: 50px;
}

.profile_pic
{
    width: 150px;
    height: 150px;
}

.edit_button
{
    position: relative;
    top: 20px;
}

.name
{
    display: inline-block;
}

.profile-row:hover
{
    background-color: #fafafa;
}

.dob
{
    display: inline-block;
}

.spacer
{
    height: 50px;
}

.spacer_small
{
    height: 10px;
}

.centered
{
    text-align: center;
}

input
{
    height: 30px;
    color: black!important;
    margin-right: 10px;
}