#cover-photo-btn
{
	float:right;
	margin-right:23px;
}

#avatar
{
    margin-top: 50px;
}

.profile_pic
{
    width: 150px;
    height: 150px;
}

.edit_button
{
    position: relative;
    top: 20px;
}

.name
{
    display: inline-block;
}

.profile-row:hover
{
    background-color: #fafafa;
}

.dob
{
    display: inline-block;
}

.spacer
{
    height: 50px;
}

.spacer_small
{
    height: 10px;
}

.centered
{
    text-align: center;
}

input
{
    height: 30px;
    color: black!important;
    margin-right: 10px;
}

.row
{
    margin-left: 0px;
    margin-right: 0px;
}

table .header
{
    width: 200px;
    font-weight: bold;
    height: 50px;
}

.friend
{
    margin: 20px 2%;
    padding: 0px 3%;
    display: inline-block;
}

table input
{
    width: 300px;
}

.invalid-password
{
        box-shadow: 0 1px 0 red inset, 0 -1px 0 red inset, 1px 0 0 red inset, -1px 0 0 red inset, 0 0 4px rgba(255, 0, 0,0.5);    
}