#status_update {
    width: 100%;
    height: 40px;
    font-size: 18px;
}

#post_button {
    position: relative;
    right: 0px;
}

.box-footer {
    text-align: right;
}

li {
    list-style-type: none;
}

#privacy-select
{
    width: 20%;
    float: right;
    margin: 0.5em;
}

#privacy-setting-span
{
    text-weight: bold;
    margin-top: 1.0em;
    margin-right: 1.0em;
    float: right;
}

.add-comment
{
    width: 100%;
    display: block;
}

.comment_button
{
    margin-top: 0.5em;
    float:right;
}

.add-comment-box
{
    width: 100%;
    height: 6.0em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    
	margin-left:-7px;
}
